{% extends "main.j2" %}
{% block content %}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>Developer information and Project overview here.</p>
    <h3>Developer Information</h3>
    <p>Developed by Aaron Smith and Jacob Deaton</p>
    <h3>Project Overview:</h3>
    <p>
    Dungeons &amp; Dragons (D&amp;D) is a popular tabletop role-playing game that allows players to create a character
        and explore a fantasy world crafted by a Dungeon Master.
    Players can go on quests, engage in combat, forge relationships, and much more. With such a large amount of
        possibilities and complex story opportunities, it can be
    difficult to keep track of everything that is going on. For example, a player may have three ongoing quests,
        four available shops to buy items from, and five points
    of interest to keep track of. Our project aims to solve this problem, as we plan to create a D&amp;D City Organizer.
</p>
<p>
    This project will keep track of multiple key pieces of information for players in a D&amp;D campaign such as vital
    NPC Information (name, health, etc), available quests,
    places of interest, available shops and their inventories, and more. This is all information that is often
    inventoried on pen and paper, which can be very time-consuming
    and difficult for all players to access easily as any DM might find themselves keeping track of 200+ towns and
    cities. On top of the towns and cities, DMs also need to
    keep track of any number of points of interest, and quests throughout the world. Our database solution will allow
    for players to easily access, and generate this information at any time.
</p>
<p>
    Additionally, it will be very easy for players to add custom types of information, allowing our tool to adapt to each player’s unique game.
</p>
<form action="/reset" method="POST">
  <button type="submit" onclick="return confirm('Are you sure you want to reset all data?');">
    Reset Database
  </button>
</form>
</div>

{% endblock %}