<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link href='static/style.css' rel='stylesheet' />
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/Towns">Towns</a>
        <a href="/shops">Shops</a>
        <a href="/quests">Quests</a>
        <a href="/poi">Points of Interest</a>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>