{% extends "main.j2" %}
{% block content %}

<h1>Towns</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in towns[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {# For each row, print the id, name, region, and alignment #}
        {% for town in towns %}
        <tr>
            <td>{{ town.TownID }}</td>
            <td>{{ town.TownName }}</td>
            <td>{{ town.Region }}</td>
            <td>{{ town.Alignment | default('', true) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# CREATE form #}
<h2>Create a Town</h2>
<form class="cuForm" id="create_town_form">
    <label for="create_town_name">Town Name: </label>
    <input type="text" name="create_town_name" id="create_town_name" required>

    <label for="create_town_region">Region: </label>
    <input type="text" name="create_town_region" id="create_town_region" required>

    <label for="create_town_alignment">Alignment: </label>
    <input type="text" name="create_town_alignment" id="create_town_alignment">

    <input type="submit">
</form>

{# UPDATE form #}
<h2>Update a Town</h2>
<form class="cuForm" id="update_town_form">
    <label for="update_town_id">Town to Update: </label>
    <select name="update_town_id" id="update_town_id" required>
        <option value="" disabled selected>Select a Town</option>
        {% for town in towns %}
        <option value="{{ town.TownID }}">
            {{ town.TownID }} - {{ town.TownName }}
        </option>
        {% endfor %}
    </select>

    <label for="update_town_region">New Region: </label>
    <input type="text" name="update_town_region" id="update_town_region">

    <label for="update_town_alignment">New Alignment: </label>
    <input type="text" name="update_town_alignment" id="update_town_alignment">

    <input type="submit">
</form>


{% endblock %}