{% extends "main.j2" %}
{% block content %}

<h1>Towns</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in towns[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {# For each row, print the id, fname, lname, homeworld and age #}
        {% for town in towns %}
        <tr>
            <td>{{ town.TownID }}</td>
            <td>{{ town.TownName }}</td>
            <td>{{ town.Region }}</td>
            <td>{{ town.Alignment | default('', true) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}