{% extends "main.j2" %}
{% block content %}

<h1>Town_Quests</h1>

{# READ table #}
<table>
    <thead>
        {# For the table header row, we print the DB attribute names #}
        <tr>
            {% for key in town_quests[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {# For each row, print the townid, town, questid, and quest #}
        {% for town_quest in town_quests %}
        <tr>
            <td>{{ town_quest.Towns_TownID }}</td>
            <td>{{ town_quest.Town }}</td>
            <td>{{ town_quest.Quests_QuestID }}</td>
            <td>{{ town_quest.Quest }}</td>

            {# DELETE form #}
            <form id="delete_town_quest_form" method="POST" action="/delete_town_quest" onsubmit="return confirm('Are you sure you want to delete this Town-Quest relationship?');">
                <input type="hidden" name="delete_town_id" value="{{ town_quest.Towns_TownID }}">
                <input type="hidden" name="delete_town_name" value="{{ town_quest.Town }}">
                <input type="hidden" name="delete_quest_id" value="{{ town_quest.Quests_QuestID }}">
                <input type="hidden" name="delete_quest_name" value="{{ town_quest.Quest }}">
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# CREATE form for town_quests #}
<h2>Create a Town-Quest Relationship</h2>
<form class="cuForm" id="create_town_quest_form" method="POST" action="/create_town_quest">
        <label for="create_town_quests_town">Town Name: </label>
    <input type="text" name="create_town_quests_town" id="create_town_quests_town" required>

    <label for="create_town_quests_quest">Quest Name: </label>
    <input type="text" name="create_town_quests_quest" id="create_town_quests_quest" required>

    <input type="submit" value="Create Relationship">
</form>


{# UPDATE form for town_quests #}
<h2>Update a Town-Quest Relationship</h2>
<form class="cuForm" id="update_town_quest_form" method="POST" action="/update_town_quest">
    <label for="original_town_quest">Relationship to Update: </label>
    <select name="original_town_quest" id="original_town_quest" required>
        <option value="" disabled selected>Select a Town-Quest Relationship</option>
        {% for town_quest in town_quests %}
        <option value="{{ town_quest.Towns_TownID }},{{ town_quest.Quests_QuestID }}">
            Town: {{ town_quest.Town }} - Quest: {{ town_quest.Quest }}
        </option>
        {% endfor %}
    </select>

    <label for="update_town_quests_town">Updated Town: </label>
    <input type="text" name="update_town_quests_town" id="update_town_quests_town" required>

    <label for="update_town_quests_quest">Updated Quest: </label>
    <input type="text" name="update_town_quests_quest" id="update_town_quests_quest" required>

{% endblock %}
